# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

secrets = {
    'ssid' : 'your_wifi_ssid',
    'password' : 'your_wifi_password',
    'aio_username' : 'your_mqtt_broker_username',
    'aio_key' : 'your_mqtt_broker_password',
    'timezone' : "America/New_York", # http://worldtimeapi.org/timezones
    'broker' : "your_mqtt_broker_ip_or_hostname",
    "port" : your_mqtt_broker_port
    }